@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Unbounded:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Unbounded', sans-serif; */
    /* width: 100%; */
}
#mobileNum a{
    color: #000;
    text-decoration: none;
}
body{
    background-color: #eaece3;
}
nav {
    position: fixed;
    background: #fff;
    width: 100%;
    padding: 10px 0;
    z-index: 12;
}

.contact-enq {
    width: 31px;
    font-size: 20px;
    height: 100px;
    background: #BFDDCF;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 9;
    position: fixed;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.contact-enq span {
    transform: rotate(-90deg);
    display: block;
}
a.toFormSec {
    color: #000 !important;
}
.contact-enq:hover {
    width: 40px;
    background-color: #8eafa0;
}


nav .menu {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo img {
    width: 130px;
    margin-left: 10px;
}
#shoSubMenu:hover i{
    transform: rotate(180deg);
}
.menu .logo a {
    text-decoration: none;
    color: #000;
    font-size: 30px;
    font-weight: 600;
}
.sec-container,
.third-container,
.fourth-container,
.fifth-container{
    background-color: #EAECE3;
}

.fifth-container .our-goals .img-col{
    background-image: url('img/All Images/About Us/5th.jpg');
    background-size: cover;
    background-position: 0;
    width: 37rem;
    height: 27rem;
    border-radius: 20px;
}
.menu .active {
    background-color: #BFDDCF;
}

.menu ul li {
    list-style: none;
    margin-left: 7px;
}

.menu ul li:first-child {
    margin-left: 0px;
}

.menu>ul>li>a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    padding: 7px 17px;
    border-radius: 50px;
    transition: all 0.3s ease;
}

.menu>ul>li>a:hover {
    background: #BFDDCF;
}

.home-container img {
    height: 100vh;
    width: 100%;
    background: cover;
}

.img {
    background: url("img/All Images/About Us/1st.png") no-repeat;
    background-size: 100% 100vh;
    width: 100%;
    height: 100vh;
    background-color: #EAECE3;
}

.subMenu {
    background: #EAECE3;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    width: 142px;
    z-index: -1;
    position: absolute;
    top: 31px;
    left: 0;
    padding: 8px 15px;
    transition: all 0.2s ease-in-out;
    display: none !important;
}

.subMenu li{
    margin: 0 !important;
    padding: 5px 8px !important;
    cursor: pointer;
    border-radius: 8px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

#shoSubMenu:hover .subMenu{
    /* transform: translateY(0%); */
    display: block !important;
}
.subMenu a{
    text-decoration: none;
    color: #003937;
}


ul.subMenu li:hover a{
    color:#000;
}

.menu ul {
    display: inline-flex;
    align-items: center;
}
.center {
    position: absolute;
    top: 63%;
    left: 51%;
    transform: translate(-50%, -50%);
    width: 61%;
    text-align: center;
}

.center .title {
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    padding: 19px;
    font-family: 'Unbounded', sans-serif;
}

.button {
    font-size: 15px;
    padding: 12px 30px;
    border-radius: 50px;
    border: none;
    outline: none;
    margin-right: 20px;
    margin-top: 5px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transition: .5s;
}

.button:hover {
    background-color: rgb(28, 82, 61);
    color: #fff;
}

.text-col {
    display: flex;
    flex-direction: column;
    padding: 4rem 5%;
}

.text-col h2 {
    padding: 10px 0;
    font-family: 'Unbounded', sans-serif;
    font-size: 24px;
    font-weight: 400;
    padding: 0;
    margin-bottom: 12px;
}

.rent-info {
    display: flex;
    justify-content: space-between;
}

.rent-info p {
    font-size: 15px;
    font-weight: 500;
    margin: 5px 0;
    text-align: left;
    line-height: 28px;
}

.rent-info img {
    display: flex;
    flex-direction: column;
    width: 37rem;
    height: 27rem;
    border-radius: 20px;
}

.goals-info{
    margin-left: 5rem;
}

.goals-info h2{
    padding: 0;
    font-family: 'Unbounded', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 0;
}

.goals-info h3.vision{
    font-family: 'Unbounded', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 32px  0;
}

.goals-info p{
    font-size: 15px;
    font-weight: 500;
    margin: 5px 0;
    text-align: justify;
    line-height: 28px;
}

.rent-info .button-1{
    font-size: 15px;
    padding: 13px 25px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: rgb(21, 151, 101);
    color: #fff;
    cursor: pointer;
    transition: .4s;
}

.rent-info .button-1:hover{
    background-color:  rgb(28, 82, 61);
}


/* --------------------FOOTER SECTION-------------- */
.phoneText{
    position: absolute;
    bottom: 0;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    white-space: nowrap;
}
.copyRightTxt{
    position: absolute;
    bottom: 30px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    width: 264px
}
.copyRightTxt a{
    color: #fff;
    text-decoration: none;
}
.treeFooter{
    width: 423px;
    height: 457px;
    background-image: url(img/Tree_Illustration.png);
    position: absolute;
    bottom: 0;
    background-size: contain;
    right: 0;
    background-repeat: no-repeat;
}

footer {
    position: relative;
    background: #1E4F4C;
    width: 100%;
    bottom: 0;
    left: 0;
}

.btn2 {
    width: 90%;
    padding: 0.6rem 1rem;
    margin: 1rem;
    background-color: #DED7C3;
    color: #202020;
    font-size: .8rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
    font-weight: 400;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn2 i {
    font-weight: 600;
    transform: rotate(-45deg);
    display: block;
}

.btn2:hover {
    background-color: rgb(44, 129, 97);
    color: #fff;
}

.link_name.cont {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}


.field {
    width: 90%;
    padding: 8px 0;
    margin: 1rem;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
    color: #fff;
}

::placeholder {
    color: #fff;
}

.social-media div {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.content .link-boxes .box li i {
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

.our-goals{
    display: flex;
    flex-direction: row;
    align-items: start;
    padding: 5rem 5%;
    justify-content: space-between;
}

.our-goals img{
    display: flex;
    flex-direction: column;
    width: 37rem;
    height: 27rem;
    border-radius: 20px;
}


/* custom code ends */


footer::before {
    content: '';
    /* position: absolute; */
    left: 0;
    top: 100px;
    height: 1px;
    width: 100%;
    background: #AFAFB6;
}

footer .content {
    margin-top: 120px;
    padding: 40px;
}

footer .content .link-boxes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}

footer .content .link-boxes .box {
    width: 400px;
}

.contact-box {
    border: 1px solid #fff;
    width: 100%;
    padding: 10px 12px;
    border-radius: 30px;
    min-width: 303px;
}

.contact-box .link_name {
    text-align: center;
}

.btn-1 {
    width: 80%;
    padding: 0.5rem 1rem;
    margin: 1rem;
    background-color: #ddd9d9;
    color: #202020;
    font-size: .8rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
    font-weight: 400;
    border-radius: 30px;
}

.btn-1:hover {
    background-color: rgb(44, 129, 97);
    color: #fff;
}

.content .link-boxes .box .link_name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    font-family: 'Unbounded', sans-serif;
}

.social-media {
    display: flex;
    /* gap: 5px; */
}

.content .link-boxes .box li {
    margin: 6px 0;
    list-style: none;
}

.content .link-boxes .box li a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
}

.content .link-boxes .box li a:hover {
    opacity: 1;
    text-decoration: underline;
}

footer .bottom-details {
    width: 100%;
    background: #1E4F4C;
}

footer .bottom-details .bottom_text {
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}

.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
}

.bottom-details .bottom_text a:hover {
    opacity: 1;
    text-decoration: underline;
}

.bottom-details .bottom_text a {
    margin-right: 10px;
}

.bottom-details .bottom_text i {
    padding-right: 10px;
}

/* on every page */
footer .content .link-boxes ul:first-child{
    width: 37%;
    margin-right: 57px;
}

/* on every page ends*/


@media (max-width: 1200px) {
    .fifth-container .our-goals .img-col{
        width: 100%;
        height: 265px;
    }

    ul.deskMenu{
            display: none;
    }

    .hamburger .hambars{
        width: 30px;
        height: 3px;
        background: #3d3d3d;
        margin-top: 6px;
        transition: all 0.4s ease;
    }

    #shoSubMenu ul{
        display: none;
        margin-left: 32px;
    }

    #shoSubMenu i{
        font-size: 22px !important;
        line-height: 42px;
    }

    #shoSubMenu ul li{
        border-left: 4px solid #003937;
        height: 29px;
        display: flex;
        padding: 0 12PX;
        margin: 15px 0;
        text-transform: uppercase;
    }
   
    input#showHamMenu{
        visibility: hidden;
    }
    #showHamMenu:checked ~ label.hamburger .hambars:first-child{
        transform: rotate(45deg);
        position: absolute;
    }
    #showHamMenu:checked ~ label.hamburger .hambars:nth-child(2){
        display: none;
    }
    #showHamMenu:checked ~ label.hamburger .hambars:nth-child(3){
        transform: rotate(-45deg);
    }

    .menu > ul > li > a {
        text-decoration: none;
        color: #000;
        font-size: 18px;
        font-weight: 500;
        padding: 5px 17px;
        border-radius: 50px;
        transition: all 0.3s ease;
    } 
    .menu-contanier ul{
        list-style-type: none;
        font-size: 30px;
        font-family: 'openSans';
    }
    .menu-contanier>ul{
        margin: 39px 4px;
        margin-left: 32px;
    }
    .menu-contanier ul a{
        text-decoration: none;
        color: #000;
        font-size: 26px;
    }
    .menu-contanier i{
        float: right;
        font-size: 28px !important;
        margin-right: 34px;
    }

    /* footer mobile ui */
    footer .content .link-boxes{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    footer .content .link-boxes ul:first-child{
        width: 100% !important;
    }
    .phoneText{
        display: none;
    }
    footer .content .link-boxes .box{
        width: 80%;
        margin: 10px 0;
    }
    .copyRightTxt{
        top: 97px;
        bottom: 90px;
    }

    footer .content{
        padding: 30px 40px 50px 40px;
    }

    .content .link-boxes .box li a{
        font-size: 16px;
        color: #fff;
    }
    .treeFooter{
        display: none;
    }

    /* mobile footer area ends */

    /* overlay hamburger social and phone */
    .social-icons .social-media{
        list-style-type: none;
        padding-left: 37px !important;
        list-style: none;
        column-gap: 5px;
    }
    .social-icons .social-media div{
        border-color: #000;
    }
    .contact-number{
        margin-left: 40px;
        font-size: 20px;
        display: flex;
        align-items: center;
        column-gap: 31px;
    }
    .menu-contanier{
        height: 58vh;
    }
    .contact-number{
        height: 10vh;
    }

    /* responsive content starts here */
    .img {
        background: url('img/All Images/About Us/about_slider.png');
        background-size: 100vw 100vh;
        background-repeat: no-repeat;
        background-color: #eaece3;
        background-position: 0 -47px;
    }
    .rent-info{
        flex-direction: column;
    }
    .rent-info img,
    .our-goals img{
        width: 100%;
        height: 100%;
    }
    .goals-info{
        margin-left: 0;
    }
    .our-goals{
        flex-direction: column-reverse;
        row-gap: 19px;
        padding: 0 5% 10% 5%;
    }
    footer .content{
        padding: 13% 5%;
    }
    .img-col{
        width:100%;
    }
    .button{
        width: max-content;
    }
    .desktop{
        display: none !important;
    }
    nav{
        padding: 5px 0;
    }
    .logo img{
        width: 100px;
    }
    .mobile-menu{
        width: 100%;
        height: calc(100vh - 74px);
        background: #dbe1d7;
        position: absolute;
        z-index: 10;
        top: 74px;
        overflow: hidden;
        transform: translateX(-100%);
        transition: all 0.6s ease-in-out;
    }
    .button {
        padding: 12px 21px;
        margin-right: 0;
    }
    .goals-info p{
        justify-content: left;
    }
    .stickyFooter.mobile {
        display: flex;
        background: #93BFAB;
        justify-content: space-around;
        padding: 15px 0;
        position: sticky;
        bottom: -1px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        z-index: 10;
    }
    .stickyFooter.mobile .fa,
    .stickyFooter.mobile .fa-brands{
        margin-right: 10px;
    }
    .center{
        width: 93%;
    }
    #shoSubMenu ul li a{
        font-size: 18px;
    }

    /* chat plugin styles */
    .zsiq_theme1 div.zsiq_cnt {
        display: none !important;
    }
    .zsiq_theme1.zsiq_floatmain {
        bottom: 67px;
    }
}
@media (min-width: 1201px){
    #showHamMenu,.hamburger,.mobile-menu{
        display: none;
    }
    
    .mobile{
        display: none !important;
    }

     /* chat plugin styles */
     .zsiq_theme1 div.zsiq_cnt {
        display: block;
    }
}